$colorh2: #4579da;
$colorfondo: #a3a3a3;

@mixin desPagina {
    margin: 50px 20%;
    border:solid 5px;
    border-color: darkslategray;
    padding: 2%;
    background-color: #a3a3a3;
}

@mixin borde{
    border:solid 5px;
    border-color: darkslategray;
}

