$colorh2: #4579da;
$colorfondo: #a3a3a3;
$fuenteParrafo: 'Poppins', sans-serif; 


@mixin desPagina {
    margin: 50px 20%;
    border:solid 5px;
    border-color: darkslategray;
    padding: 2%;
    background-color: #a3a3a3;
}

@mixin borde{
    border:solid 5px;
    border-color: darkslategray;
}

@mixin boton{
    padding: 10px;
    height: 40px;
    width: 110px;
    border-radius: 5px;
    font-size: medium;
}
