@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}


/*estilo pagina de contactos*/
#descripDePagina{   
    #formularioContacto{
        form{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            gap: 15px;
               
            #datos{
                display: flex;
                flex-direction: column;
                justify-content: center;

                input{
                    height: 25px;
                }
            }

            #consulta{
                display:flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
        }    
    }
}

#ubicacion{
    margin-top: auto;
}

/* estilos pagina de servicios*/
#pagServicios{
    section{
        @include desPagina;

        h2 {
            color: $colorh2;
            font-size: xx-large;
            padding: 15px;
        }

        div{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 10px;
            
            div {
                /*max-width: 100%;*/
                width: 500px;
                height: 300px;
                img{
                    max-width: 100%;
                    height: auto;
                    
                }
            } 
        }  

        input{
            @include boton;
            position: relative;
            left: 50%;
            bottom: 40px;           
        }  
        
        p{
            font-family: $fuenteParrafo;
        }
    }
}

/*estilo footer*/
footer{
    background-color: $colorfondo;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: auto;
    gap: 15px;

    a{
        svg{
            color: darkslategray;
        }
    }
    
}


/*estilo pag manuales*/
.main-manuales{   
    padding-bottom: 3%;   
    
    section{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 30px;

        div{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            align-items: center;
            height: 400px;
            width: 500px;
            border: solid 2px;
            color: darkslategray;
            border-radius: 3px;

            h3{
                color: $colorh2;
                font-size: x-large;
            }
            a :hover{
                transform: scale(1.6);
            }
        }
    }
}

/*estilo pag alquiler*/
.main-alquiler{
    padding-bottom: 3%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
    section{
        display: flex;
        flex-direction: row-reverse;
        border: solid 2px;
        color: darkslategray;
        border-radius: 3px;
        
        .div-descripcion{
            width: 500px;
            height: 300px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-left: 5px;

            h3{
                color: $colorh2;
            }
            
            p{
                padding-left: 5px;
                padding-right: 10px;
                font-family: $fuenteParrafo;
            }
            
            input{
                @include boton;
            }  
        }    
        
        
        .cont-img{
            height: auto;
            width: 300px;
            display: inline-flex;
            padding: 10px;

            img{
                max-width: 100%;
                height: auto;
            }
        }    
        .cont-img :hover{
            transform: scale(1.5);
            
        }
        
    }
}