* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*estilo pagina de contactos*/
#descripDePagina #formularioContacto form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 15px;
}
#descripDePagina #formularioContacto form #datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#descripDePagina #formularioContacto form #datos input {
  height: 25px;
}
#descripDePagina #formularioContacto form #consulta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#ubicacion {
  margin-top: auto;
}

/* estilos pagina de servicios*/
#pagServicios section {
  margin: 50px 20%;
  border: solid 5px;
  border-color: darkslategray;
  padding: 2%;
  background-color: #a3a3a3;
}
#pagServicios section h2 {
  color: #4579da;
  font-size: xx-large;
  padding: 15px;
}
#pagServicios section div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}
#pagServicios section div div {
  /*max-width: 100%;*/
  width: 500px;
  height: 300px;
}
#pagServicios section div div img {
  max-width: 100%;
  height: auto;
}
#pagServicios section input {
  padding: 10px;
  width: 110px;
  border-radius: 5px;
  font-size: medium;
  position: relative;
  left: 50%;
  bottom: 40px;
}
#pagServicios section p {
  font-family: "Poppins", sans-serif;
}

/*estilo footer*/
footer {
  background-color: #a3a3a3;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: auto;
  gap: 15px;
}
footer a svg {
  color: darkslategray;
}

/*estilo pag manuales*/
.main-manuales {
  padding-bottom: 3%;
}
.main-manuales section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}
.main-manuales section div {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 500px;
  border: solid 2px;
  color: darkslategray;
  border-radius: 3px;
}
.main-manuales section div h3 {
  color: #4579da;
  font-size: x-large;
}
.main-manuales section div a :hover {
  transform: scale(1.6);
}

/*estilo pag alquiler*/
.main-alquiler {
  padding-bottom: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.main-alquiler section {
  display: flex;
  flex-direction: row-reverse;
  border: solid 2px;
  color: darkslategray;
  border-radius: 3px;
}
.main-alquiler section .div-descripcion {
  width: 500px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}
.main-alquiler section .div-descripcion h3 {
  color: #4579da;
}
.main-alquiler section .div-descripcion p {
  padding-left: 5px;
  padding-right: 10px;
  font-family: "Poppins", sans-serif;
}
.main-alquiler section .div-descripcion input {
  padding: 10px;
  width: 110px;
  border-radius: 5px;
  font-size: medium;
}
.main-alquiler section .cont-img {
  height: auto;
  width: 300px;
  display: inline-flex;
  padding: 10px;
}
.main-alquiler section .cont-img img {
  max-width: 100%;
  height: auto;
}
.main-alquiler section .cont-img :hover {
  transform: scale(1.5);
}/*# sourceMappingURL=main.css.map */